
@font-face {
  font-family: GeistMedium;
  src: url(geist_font/Geist-Medium.woff2);
}

.hidden {
  display: none;
}

* {
  font-family: GeistMedium;
  color: white;
}

body {
  background-color: #1D1F2B;
}

.title {
  /*margin: 3% auto;*/
  padding: 4px;
  text-align: center;
  font-size: 1.3em;
  cursor: pointer;
}
h3 {
  margin: 5px 0px
}


.flex {
  display: flex;
}
.gap {
  gap:10px;
}
.one {
  flex: 1;
}

.container {
  padding: 5px 30px;

}

button {
  width: 100%;
  background-color: rgba(22, 23, 3, 0.6);
  padding: 10px;
  margin: 8px 0;
  cursor: pointer;
  box-shadow: 0 6px #141414;
  transition: 0.1s;
  border: none
}
button:disabled {
  cursor: default;
}
button:active {
	transform: translateY(6px);
  box-shadow: 0 0px #000000;
}

input {
  width: calc(100% - 16px);
  overflow: hidden;
  font-size: 1em;
  padding: 8px;
  /*margin: 8px 0;*/
  transition: 0.5s
}

input:focus, input:hover {
  /*width: calc(80% - 16px);*/
  /*color: rgb(145, 71, 255);*/
  /*transform: scale(1.05);*/
  /*font-size: calc(100% + 8px);
  padding: 4px 2px;*/
}

input {
  border-top : none;
  border-right : none;
  border-left : none;
  outline: none;
  background: none;
}

.twitch {
  background-color: rgb(145, 71, 255);
  box-shadow: 0 6px rgba(145, 71, 255, 0.6);
  /*border-color: rgb(145, 71, 255);*/
  color: white
}

.join-tournament {
  background-color: rgb(242, 187, 19);
  box-shadow: 0 6px rgba(242, 187, 19, 0.6);
  /*border-color: rgb(242, 187, 19);*/
}

textarea {
  margin-top: 10px;
  padding: 4px;
  width:calc(100% - 8px);
}

